body {
  font-family: Arial;
  text-align: center;
  background-color: #f0f8ff;
}

h1 {
  color: #333;
}

.button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

table {
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px 20px;
  border: 1px solid #666;
}
